<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>{{ page.title }} - {{ page.subtitle }}</title>
    <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />    
        
</head>

<body>
    <a href="http://github.com/deavid/irpc"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

    <div id="header">
        <div class="container">
            <div class="download">
            <a href="http://github.com/deavid/irpc/zipball/master">
                <img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
            <a href="http://github.com/deavid/irpc/tarball/master">
                <img border="0" width="90" src="http://github.com/images/modules/download/tar.png"></a>
            </div>
            <h1><a href="http://github.com/deavid/irpc">IRPC</a>
            <span class="small">by <a href="http://github.com/deavid">deavid</a></span></h1>

            <div class="description">
                &mdash; {{ page.subtitle }} &mdash; 
            </div>
        </div>
    </div>
    <ul id="primarylinks" class="menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="specification.html">Specification</a></li>
        <li><a href="examples.html">Examples + Code</a></li>
        <li><a href="benchmarks.html">Benchmarks</a></li>
        <li><a href="download.html">Downloads</a></li>
    </ul>
    
    <div class="container" id="body">
        {% case page.submenus %}
            {% when 'examples' %}
                {% include menus_examples.html %}
            {% else %}
                {% if page.submenus == '' %}
                <!-- no submenus -->
                {% else %}
                Error: unknown submenu '{{ page.submenus }}'
                {% endif %}
        {% endcase %}

    {{ content }}
    <div class="footer">
      get the source code on GitHub : <a href="http://github.com/deavid/irpc">deavid/irpc</a>
    </div>
    </div>

  
</body>
</html>
